<form class="card" >
  <h2>
    Wejście do panelu adminustratora
  </h2>
  <div class="form-control">
    <label for="email">Email:</label>
    <input id="email" type="email">
  </div>
  <div class="validation">
    <small>Bląd</small>
  </div>
  <div class="form-control">
    <label for="password">Password:</label>
    <input id="password" type="password">
  </div>
  <div class="validation">
    <small>Bląd</small>
  </div>
  <button type="submit" class="btn btn-primary">Wejdź</button>
</form>
